USE [23010101216]
GO
/****** Object:  StoredProcedure [dbo].[PR_DEPT_Department_Insert]    Script Date: 12/07/2025 4:16:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[PR_DEPT_Department_Insert]
    @DepartmentName		NVARCHAR(100),
    @Description		NVARCHAR(250),
    @IsActive			BIT,
    @Modified			DATETIME = NULL,
    @UserID				INT
AS
BEGIN
    INSERT INTO [dbo].Department (
        [dbo].Department.DepartmentName
        ,[dbo].Department.[Description]
        ,[dbo].Department.IsActive
        ,[dbo].Department.Modified
        ,[dbo].Department.UserID
    )
    VALUES (
        @DepartmentName,
        @Description,
        @IsActive,     
        @Modified,
        @UserID
    )
END


--EXEC PR_DEPT_Department_Insert 
--    @DepartmentName = 'Cardiology',
--    @Description = 'Cardiology Department',
--    @IsActive = 1,
--    @UserID = 1;
ALTER TABLE [User]
ALTER COLUMN Modified DATETIME NULL;

select * from Department

SELECT 
    COLUMN_NAME, 
    IS_NULLABLE
FROM 
    INFORMATION_SCHEMA.COLUMNS
WHERE 
    TABLE_NAME = 'Department' AND 
    COLUMN_NAME = 'Modified';


	Select * from [User]